site_name: VerificAAA — Guia de Acessibilidade
site_description: Guia prático alinhado à WCAG 2.2, ABNT NBR 17225/17060 e Gov.br
site_url: https://unb-ihc.github.io/IHC-2025.2-Grupo05
repo_url: https://github.com/UnB-IHC/IHC-2025.2-Grupo05
repo_name: Grupo 05 • IHC 2025.2
edit_uri: ""

theme:
  name: material
  language: pt-BR
  features:
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - content.code.copy
    - toc.integrate
    - search.highlight
    - search.suggest
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: amber
      toggle:
        icon: material/weather-night
        name: Modo escuro
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep orange
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Modo claro

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - footnotes
  - def_list
  - tables
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true

extra_css:
  - stylesheets/extra.css

nav:
  - Início: index.md
  - Como Usar: comUsar/comoUsar.md
  - Sobre este Guia: Sobre/sobreGuia.md
  - Design: design/design.md
  - Desenvolvimento Web: devWeb/non_text_content.md
  - Conteúdo: geracaoConteudo/conteudo.md
  - Gestão do Projeto: gestaoProjeto/gestaoProjeto.md
  - Ferramentas: tools/ferramentas.md
  - Heurísticas: metodo/heuristicas.md

